$max_width: 800px;

// color
$white: white;
$text: white;
$blue: #06c;
$grey: #f5f5f7;
// $bg: #00acc4;
// $bg_nav: #313132;
$bg: #0f4672;
$bg_nav: #2196f3;

$purple: #65499f;
$lv_0: #777777;
$lv_1: #294dff;
$lv_2: #0277bd;
$lv_3: #0097a7;
$lv_4: #388e3c;
$lv_5: #e65100;
$lv_6: #d84315;
$lv_7: #c62828;
$lv_8: #212121;

$bg_btn: #000005d9;
$tx_btn: #979797;
